header {
    max-width: 100%;
    min-height: 10vh;
    background-color: #ffff00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    box-shadow: -1px 10px 9px -10px rgba(0,0,0,0.75);
    border-radius: 0px 0px 24px 24px;
}

header div {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 80px;
    height: 80px;
    margin-right: 1em;
}

.nameSiteHeader {
    font-size: 2.5em;
    color:#000;
    font-family: 'Comme', sans-serif;
}

.menu-itens p {
    margin-left: 1em;
    color: #000;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
}

.menu-itens p:hover {
    border-bottom: 1px solid #000;
}