.CardPhotoProduct {
    background-color: #FFFF00;
    width: 370px;
    height: 380px;
    border-radius: 24px;
    box-shadow: 6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 2em 1em 0 1em;    
}

.heartIcon {
    background-color: #FFF;
    position: absolute;
    padding: 2em 1em;
    cursor: pointer;
}

.descriptionImg {
    background-color: #FFF;
    max-width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.descriptionImg img {
    width: 250px;
    height: 250px;
}

.descriptionTxt {
    text-align: center;
    padding: 0 1.3em;
}

.productShop {
    max-width: 70%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.productShop p {
    margin: 0 5em 0 0.3em;
}

.cardIcon {
    font-size: 1.5em;
}

.addProduct {
    cursor: pointer;
}