.mainContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.removeStyle {
    text-decoration: none;
}